<h2> Welcome to the simple game of tictactoe </h2>

<table border=1 width=100 height=100>
   <tr>
      <td>  </td>  <td>  </td>  <td>  </td> 
   </tr>
   <tr>
      <td>  </td>  <td>  </td>  <td>  </td> 
   </tr>
   <tr>
      <td>  </td>  <td>  </td>  <td>  </td> 
   </tr>

</table>

<a href="posts/new"> click here to play </a>

